.coinsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 2rem;
}

.inputContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.inputContainer input {
    border: none;
    background-color: rgb(27, 23, 23);
    color: #f6f4f4;
    padding: 18px 20px;
    width: 400px;
    outline: none;
    letter-spacing: 0.5px;
    border-radius: 5px;
}

.inputContainer input::placeholder {
    color: #b0b0b0;
}
  

@media (max-width: 350px) {
    .coinsContainer {
        display: flex;
        flex-direction: column;
    }
}